<!-- 
    En este caso no utilizamos Reactive forms
    Solamente los formularios de Angular
-->
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <!--    
        Para generar el BINDING entre nuestro
        componente de ts y el template debemos 
        utilizar el ngModel
    -->
    <mat-form-field>
        <input 
        type="text"
        matInput
        placeholder="Título"
        name="title"
        ngModel>
    </mat-form-field>
    <mat-form-field>
        <input 
        type="text"
        matInput
        placeholder="Descripción"
        name="description"
        ngModel>
    </mat-form-field>

    <mat-grid-list cols="3" rowHeight="3:2">
        <mat-grid-tile *ngFor="let icon of icons"> 
            <i *ngIf=" getIconVersion(icon) !== 'none' " mat-list-icon class="devicon-{{ icon.name }}-{{ getIconVersion(icon) }}"></i>
            <i *ngIf=" getIconVersion(icon) == 'none' " mat-list-icon class="material-icons">close</i>
        </mat-grid-tile>
    </mat-grid-list>
    
        <button type="submit" mat-raised-button  color="accent" >
            Enviar
        </button>
    
</form>